/* DailyQuestion.css */

.daily-question {
    margin: 40px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .daily-question h2 {
    color: #4f4f4f;
    font-size: 2.0em;
    margin-bottom: 20px;
  }

  .daily-question p {
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .daily-question ul {
    list-style-type: none;
    padding: 0;
  }
  
  .daily-question li {
    margin: 10px 0;
  }
  
  .daily-question button {
    /*width: 100%;*/
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #cd8bff;
    color: #000000;
  }
  
  .daily-question button.correct {
    background-color: lightgreen;
  }
  
  .daily-question button.incorrect {
    background-color: lightcoral;
  }
  