/* Navbar.css */

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #1a1a1a;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  box-sizing: border-box;
}

/*Controls the styling of the heading (<h1>) in the navigation bar.*/
.navbar h1 {
  margin-right: auto;
  font-size: 42px;
}

/*Controls the styling of the unordered list (<ul>) that contains the navigation links.*/
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/*Controls the styling of each list item (<li>) within the unordered list.*/
.navbar li {
  margin-right: 20px;
}

/* Controls the style for the items/links in the navbar */
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Media Queries for mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .navbar ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar a {
    font-size: 24px;
  }
}