.App {
  text-align: center;
}



.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


/* Style the button */
.my-button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}





/* For the intro on the Home Tab*/
.intro {
  /*background: url('./home_background.png') no-repeat center center fixed;
  background-size: cover;*/
  text-align: center;
  margin: 20px 0;
  color: white;
}

.intro h1 {
  font-size: 2.5em;
  color: white;
}

.intro h2 {
  font-size: 2.0em;
  color: white;
}

.buttons {
  margin: 20px 0;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  background-color: #cd8bff;
  border: none;
}


/* Home Background image */
.intro-background {
  background: url('./home_background_2.png') no-repeat center center;
  background-size: cover;
  padding: 20px;
  width: 100%;
  color: white;
}